:root {
  --white: #fff;
  --active-color: #00aeb0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--active-color);
  transition: background 0.4s ease;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #02484a;
  transition: background 0.2s ease;
  cursor: pointer;
  background-color: #121212;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 90px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  background-image: url("../assets/icons/speaker.svg");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.audio-player {
  max-width: 350px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: var(--white);
}

.artwork {
  border-radius: 120px;
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}

.track-info {
  text-align: center;
  z-index: 1;
  /* position: relative; */
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
}

.artist {
  font-weight: 300;
  margin-top: 0;
}

.audio-controls {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 15px;
}

/* .audio:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
} */

.audio-controls .prev svg,
.audio-controls .next svg {
  width: 35px;
  height: 35px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
  height: 40px;
  width: 40px;
}

.audio-controls path {
  fill: var(--white);
}

.color-backdrop {
  background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
    no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

audio::-webkit-media-controls-play-button {
  display: none;
}
.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 99;
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(1px); */
}

.bottom {
  text-align: center;
  position: inherit;
  width: 10%;
  /* display: inline-block; */
}

.title-bottom {
  font-size: 15px;
}
.artist-bottom {
  font-size: 15px;
}

/* .container {
  min-height: 100px;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.audio-player {
  --primary: #300505;
  display: flex;
  width: 300px;
  height: 330px;
  align-items: center;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background: linear-gradient(
    0deg,
    rgba(172, 169, 164, 0.763) 0%,
    rgba(220, 5, 5, 0.776) 100%
  );
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.audio-player {
  display: block;
  margin: 0px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: inset -6px -6px 12px rgba(255, 255, 255, 0.448),
    inset 6px 6px 12px rgba(255, 255, 255, 0.859);
}

.song-details {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.audio-player > p {
  color: #aaa;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.audio-player > p span {
  font-weight: 400;
  width: fit-content;
}

.song-details-image {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.song-details-image img {
  display: block;
  margin: 50px auto;
  object-fit: contain;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8),
    -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.song-details-image:after {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  border-radius: 50%;
  border: 3px dashed rgba(255, 206, 0, 1);
}

.song-details-title {
  color: #eee;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 10px;
}

.play-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.play-control-button {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8),
    -4px -4px 10px rgba(255, 255, 255, 0.4),
    inset -4px -4px 10px rgba(0, 0, 0, 0.4),
    inset 4px 4px 10px rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  background-color: #ffce00;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.audio-player--controls .play-control:hover {
  color: #ffce00;
  background-color: inherit;
}

.audio-player--audio {
  margin-top: -20px;
  margin-bottom: 5px;
  outline-width: 0;
  opacity: 0.4;
}

.audio-player--controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}
.audio-player--controls .skip-btn:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
  color: white;
  background-color: inherit;
}

audio::-webkit-media-controls-play-button {
  display: none;
} */
